// COLORS
$color-primary: #e82a50;
$color-primary-mid: #c21437;
$color-primary-dark: #1e2ec5;

$extra-light: #fafafa;
$light: #f4f5f6;
$color-grey-extra-light: #e1e1e1;
$color-grey-extra-light-two: #d1d1d1;
$color-grey-light: #a89d9c;
$color-grey-mid: #514c49 ;
$color-grey-dark: #333333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$h2-size: 3rem;
$h3-size: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// CHEVRON ARROW DOWN
$base: 1rem;